%ol
  - @campaigns.each do |campaign|
    - # photo, title, tagline, link to campaign page on Indiegogo
    %li.campaign
      %a{ href: campaign['web_url'] }
        %img.photo{ src: campaign['baseball_card_image_url'].gsub(/^[^\/]+/, '') }
        .details
          .title= campaign['title']
          .tagline= campaign['tagline']