%ol
  - @campaigns.each do |campaign|
    - # photo, title, tagline, link to campaign page on Indiegogo
    %li
      %a{ href: campaign['web_url'], title: 'View campaign' }
        %img.photo{ src: campaign['baseball_card_image_url'] }
        .title= campaign['title']
        .tagline= campaign['tagline']